.body{
  font-family: Fifa, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  
}

h1{
  font-size: 4.5em;
  color: white;
  margin: 0;
  margin-left:.2rem;
}
h2{
  font-size: 4em;
  margin: 0;
}

.wall{
  margin-top: 1.4rem;
}

.number-tiles{
  display: flex;
  flex-direction: column;
  }

.NumBox {
  text-align: center;
  height: 4.4rem;
  background: rgba(0,0,0,0.5);
  margin: 1.8rem;
}

.number{
  color: white;
}


.button-area{
  display: flex;
  justify-content: center;
}

.randomise-button{
  width:200px;
  margin:75px;
}

.title{
  display: flex;
  justify-content: space-around;
  text-shadow: 3px 3px #999;
}